
/* CSS custom properties applied to body rather than :root
due to a bg-color rendering bug on Chrome when dynamically
changing it. */
body {
  --colorMode: "light";
  --bgColor: white;
  --color: #111111;
}

@media (prefers-color-scheme: dark) {
  body {
    --colorMode: "dark";
  }

  body:not([data-color-scheme]) {
    --bgColor: black;
    --color: #F1F1F1;
  }
}

body[data-color-scheme="dark"] {
  --bgColor: black;
  --color: #F1F1F1;
}

/* reset styles from UA default style sheets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* fonts */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
       url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Italic.woff2") format("woff2"),
       url("./fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter-Bold.woff2") format("woff2"),
       url("./fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-ExtraBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
       url("./fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Swell';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Swell-Braille.ttf") format("truetype");
}

/* a11y utility */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  font-size: 1.25rem;
  color: var(--color);
  background-color: var(--bgColor);
  letter-spacing: -0.03em;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

/* mobile-first approach of defining styles */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 300px) minmax(2rem, 1fr);
  grid-template-areas:
    ". hero ."
    ". content ."
    ". sidebar ."
    ". footer .";
  margin-top: 4rem;
  margin-bottom: 9rem;
}

/* high width viewports definitions with media queries */
@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". hero hero hero hero hero hero hero hero hero hero ."
      ". content content content content content content content . sidebar sidebar .";
    margin-top: 5rem;
  }
}

body > footer {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 300px) minmax(2rem, 1fr);
  grid-template-areas:
    ". footer .";
  margin-bottom: 4.75rem;
}

@media(min-width: 768px) {
  body > footer {
    grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". footer footer footer footer footer footer footer footer footer footer .";
  }
}

.hero {
  grid-area: hero;
  margin-bottom: 3rem;
}

.hero img {
  width: 100%;
  max-height: 672px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 2rem;
  filter: grayscale(1);
}

.hero figure {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .hero {
    margin-bottom: 6.25rem;
  }

  .hero figure {
    margin-bottom: unset;
  }
}

.content {
  grid-area: content;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .content {
    margin-bottom: unset;
  }
}

.content h2 {
  border-top: 1px solid #333333;
  padding-top: 0.25rem;
  margin-bottom: 3.5rem;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.wrapper {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}
.braille {
  font-family: 'Swell';
}

.pleiz-border {
  border-top: 1px solid #333333;
  padding-top: 0.25rem;
}
blockquote {
  margin-bottom: 1.5em;
}

.content p {
  margin-bottom: 1.5em;
}

ul {
  list-style-position: inside;
  margin-bottom: 1.5em;
}

button.lights {
  background: unset;
  color: var(--color);
  border: none;
  text-align: start;
  font-size: 1.25rem;
  letter-spacing: -0.03em;
  border-top: 1px solid #333333;
  padding-top: 0.25rem;
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.sidebar button {
  margin-bottom: 4.375rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--color);
  border-top: 1px solid #333333;
  padding-top: 0.25rem;
  margin-bottom: 3rem;
}

button.lights:hover,
button.lights:active,
.sidebar a:hover,
.sidebar a:active {
  text-decoration: underline;
}

#new-spaces {
  margin-top: 3rem;
}


@media(min-width: 768px) {
  #new-spaces {
    margin-top: 9.6rem;
  }

  .sidebar a {
    margin-bottom: 4.375rem;
  }
}
